html, body {
    background-image: url("../uwp1828502.jpeg");
    background-size: cover;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: royalblue;
    color: white;
}

td, th {
    width: 200px;
}